*.VC.*
*.log
*.obj
*.tlog
*.suo
*.iobj
*.ipdb
*.pdb
*.o
*.out
*.pal
*.depend
*.layout
*.xml
*.lst
*.class
*.ini
*.rs
*.d
**/.settings/**
**/out/**
!**/out/rom.bin
symbol.txt
rom_head.bin
**/Debug
**/Release
**/res/*.h
res/libres.s
!res/libres.h
src/z80_*.s

archive
cb
not needed
sample/sound/loss
tools/archives
tools/extras
tools/old
tools/genesis_tools.workspace
tools/emu
tools/lz4w/test
tools/lz4w/bin
tools/lz4w/lz4w.jar
tools/rescomp/format
tools/rescomp/rescomp.jar
tools/xgm rom builder/bin
src/z80_*.h
#OS and IDE file
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

/.idea
*.iml

#build target folders
/lib/
/bin-linux/
/bin-apple/
#Preserv Windows binaries until they will be rebuild during initial state (same as on Unix system)
!/bin/*.exe
!/bin/*.dll
!/bin/*.jar
!/tools/xgmRomBuilder/xgmtool.exe

